.nfxp {
    position: absolute;
    border-radius: 20px;
    float: left;
    box-shadow: 4px 4px 8px 1px #b8b7b7;
    margin-top: 410px; 
    margin-left: 1130px;
    padding-bottom: 17%;
    padding-right: 9%;
}

.nfxp h1 {
    font-size: 18px;
    margin-left: 10px;
}

.nfxp h2 {
    font-size: 14px;
    color: #b8b7b7;
    margin-left: 10px;
} 